@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

header {
    background-color: rgb(255, 255, 255);
    height: 90px;
    display: flex;
    align-items:center;
    padding-left: 40px;
}

header h1 {
    font-size: 24px;
}

body {
    margin: 0px;
    font-family: 'Source Code Pro', monospace;
    /* background-color: blue; */
}

.main_content {
    width: 930px;
    height: 493px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content:space-between;
}

.picture_content {
    width: 360px;
    /* background-image: url(images/portrait.png); */
    background-size: cover;
    /* padding: 19px;
    box-sizing: border-box; */
    
}

.portrait {
    position: relative;
    top: 0;
    left: 0;
    width: 360px;
}

.arrow {
    position: absolute;
    top: 109px;
    left: 273px;
    width: 50px;

}

.text_content {
    width: 360px;
    height: 493px;
    position: relative;
}

.text_content p {
    line-height: 30px;
    color: #606060;
}

.text_content h1 {
    font-family: 'Source Code Pro', monospace;
    font-size: 48px;
    font-weight: bold;
    margin: 0px;
}

.text_content p {
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
}

.text_content {
    width: 455px;
    height: 360px;
    background-color: rgb(255, 255, 255);
    
}

footer {
    height: 300px;
    background-color: blue;
    text-align: center;
    color: white;
    padding-top: 56px;
    font-size: 14px;
}

.easter_img_box {
    width: 305px;
    height: 53px;
    /* background-color: rgb(223, 226, 43); */
    margin: auto;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.socials_box {
    width: 200px;
    height: 35px;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    /* align-items:center; */

}

.socials_box img {
    height: 100%;
    transition: .3s ease;
}


.socials_box img:hover {
    height: 110%;
    transition: .3s ease;
}